In [1]:
import json
import numpy as np
import os
import pandas as pd
from scipy.stats import mode
from reV import Resource
from reVX.reeds import ReedsClassifier, ReedsProfiles, ReedsTimeslices

test_dir = '/Users/mrossol/Git_Repos/reVX/tests/data'
out_dir = os.path.join(test_dir, 'reeds')
#out_dir = '/Users/mrossol/Downloads/'

In [54]:
# def remove_bad_gids(row, thresh=99):
#     gids = row['gen_gids']
#     counts = row['gid_counts']
#     convert = False
#     if isinstance(gids, str):
#         convert = True
#         gids = json.loads(gids)
#         counts = json.loads(counts)
        
#     pos = np.where(np.array(gids) < thresh)[0]
    
#     gids = [gids[i] for i in pos]
#     counts = [counts[i] for i in pos]

#     if convert:
#         row['gen_gids'] = json.dumps(gids)
#         row['gid_counts'] = json.dumps(counts)
#     else:
#         row['gen_gids'] = gids
#         row['gid_counts'] = counts

#     row['sites'] = len(gids)

#     return row
     
    
# sc_table = '/Users/mrossol/Git_Repos/reV/tests/data/sc_out/sc_full_out_1.csv'
# sc_table = pd.read_csv(sc_table)
# sc_table = sc_table.apply(remove_bad_gids, axis=1)
# sc_table = sc_table.loc[sc_table['sites'] > 0].drop(columns=['sites'])

# out_path = os.path.join(test_dir, 'reV_sc', 'sc_table.csv')
# sc_table.to_csv(out_path, index=False)

In [29]:
rev_table = os.path.join(test_dir, 'reV_sc', 'sc_table.csv')
resource_classes = os.path.join(test_dir, 'reeds', 'inputs', 'trg_breakpoints_naris.csv')

table, agg = ReedsClassifier.create(rev_table, resource_classes, region_map='reeds_region',
                                    sc_bins=5)

out_path = os.path.join(out_dir, 'ReEDS_Classifications.csv')
table.to_csv(out_path, index=False)

out_path = os.path.join(out_dir, 'ReEDS_Aggregation.csv')
agg.to_csv(out_path, index=False)

In [32]:
cf_profiles = os.path.join(test_dir, 'reV_gen', 'gen_pv_2012.h5')
rev_table = os.path.join(out_dir, 'ReEDS_Classifications.csv')

out_path = os.path.join(out_dir, 'ReEDS_Profiles.h5')
ReedsProfiles.run(cf_profiles, rev_table, profiles_dset='cf_profile', rep_method='meanoid',
                  err_method='rmse', n_profiles=1, reg_cols=('region', 'class'),
                  parallel=False, fout=out_path, legacy_format=False)

In [2]:
rep_profiles = out_path = os.path.join(out_dir, 'ReEDS_Profiles.h5')
cf_profiles = os.path.join(test_dir, 'reV_gen', 'gen_pv_2012.h5')
time_slices = os.path.join(test_dir, 'reeds/inputs/timeslices.csv')
rev_table = os.path.join(out_dir, 'ReEDS_Classifications.csv')

new_outs = ReedsTimeslices.run(rep_profiles, time_slices, legacy_format=False)
legacy_outs = ReedsTimeslices.run(rep_profiles, time_slices, legacy_format=True)

/Users/mrossol/miniconda3/envs/revx/lib/python3.7/site-packages/scipy/stats/stats.py:3399: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())

In [8]:
new_outs[0].head()

,"[0, 1]","[1, 1]","[1, 2]","[1, 3]","[10, 1]","[11, 1]","[11, 2]","[12, 1]","[12, 2]","[12, 3]",...,"[34, 1]","[34, 2]","[34, 3]","[35, 1]","[35, 2]","[36, 1]","[40, 1]","[40, 2]","[6, 1]","[6, 2]"
timeslice,,,,,,,,,,,,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.007042,0.007407,0.007302,0.006810,0.007403,0.007007,0.006938,0.006625,0.006625,0.007127,...,0.007404,0.007293,0.007119,0.007054,0.006998,0.006756,0.006676,0.006676,0.006806,0.007007
2,0.002732,0.003449,0.002651,0.003036,0.003812,0.002640,0.002668,0.003075,0.003075,0.003371,...,0.003295,0.003353,0.002900,0.003278,0.002777,0.002580,0.002678,0.002687,0.002575,0.002712
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.227943,0.257369,0.263004,0.262069,0.253380,0.253739,0.254484,0.250726,0.250726,0.259057,...,0.253527,0.261613,0.255661,0.257171,0.258431,0.255874,0.257831,0.254897,0.256503,0.228013

In [5]:
legacy_outs[0].head()

   timeslice    cfmean  region  class   cfsigma
0          0  0.000000       0      1  0.000000
1          1  0.007042       0      1  0.027744
2          2  0.002732       0      1  0.014539
3          3  0.000000       0      1  0.000000
4          4  0.227943       0      1  0.226033

In [9]:
new_outs[2][2].head()

,"[15, 3]","[1, 1]","[1, 3]","[34, 3]","[13, 1]","[34, 1]","[0, 1]","[12, 2]","[27, 1]","[17, 2]",...,"[31, 2]","[6, 1]","[15, 1]","[28, 1]","[35, 1]","[34, 2]","[12, 1]","[40, 2]","[13, 2]","[11, 2]"
"[15, 3]",1.000000,0.891827,0.944150,0.936061,0.929584,0.924474,0.928631,0.944318,0.892286,0.912716,...,0.887123,0.899050,0.857430,0.901969,0.953544,0.943391,0.901664,0.919064,0.921491,0.899089
"[1, 1]",0.891827,1.000000,0.883342,0.927100,0.867319,0.876762,0.933039,0.883964,0.999094,0.849302,...,0.808546,0.953157,0.782414,0.904367,0.915039,0.873266,0.941630,0.893023,0.884523,0.872047
"[1, 3]",0.944150,0.883342,1.000000,0.882334,0.954722,0.888062,0.866648,0.999801,0.882326,0.879526,...,0.875017,0.898088,0.829933,0.870156,0.961121,0.964536,0.856910,0.904719,0.905251,0.881875
"[34, 3]",0.936061,0.927100,0.882334,1.000000,0.874274,0.874156,0.985997,0.882247,0.919954,0.888447,...,0.839144,0.940678,0.840582,0.947163,0.904306,0.881002,0.948229,0.913703,0.915407,0.917525
"[13, 1]",0.929584,0.867319,0.954722,0.874274,1.000000,0.912558,0.872358,0.955517,0.864880,0.847060,...,0.862978,0.903993,0.836378,0.851140,0.971241,0.988805,0.898386,0.832562,0.840091,0.845089

In [10]:
legacy_outs[2].head()

   coefficient  region  class  region_1  class_1  timeslice
0          1.0      15      3        15        3          0
1          1.0      15      3         1        1          0
2          1.0      15      3         1        3          0
3          1.0      15      3        34        3          0
4          1.0      15      3        13        1          0

In [11]:
rep_profiles = out_path = os.path.join(out_dir, 'ReEDS_Profiles.h5')
cf_profiles = os.path.join(test_dir, 'reV_gen', 'gen_pv_2012.h5')
time_slices = os.path.join(test_dir, 'reeds/inputs/timeslices.csv')
rev_table = os.path.join(out_dir, 'ReEDS_Classifications.csv')

means_rep, stdevs_rep, corr_rep = ReedsTimeslices.run(rep_profiles, time_slices, legacy_format=False)
out_path = os.path.join(out_dir, 'ReEDS_Timeslice_rep_means.csv')
means_rep.to_csv(out_path)
out_path = os.path.join(out_dir, 'ReEDS_Timeslice_rep_stdevs.csv')
stdevs_rep.to_csv(out_path)
out_path = os.path.join(out_dir, 'ReEDS_Timeslice_rep_coeffs-ts2.csv')
corr_rep[2].to_csv(out_path)

means_cf, stdevs_cf, corr_cf = ReedsTimeslices.run(cf_profiles, time_slices, rev_table=rev_table, max_workers=1,
                                                   legacy_format=False)
out_path = os.path.join(out_dir, 'ReEDS_Timeslice_cf_means.csv')
means_cf.to_csv(out_path)
out_path = os.path.join(out_dir, 'ReEDS_Timeslice_cf_stdevs.csv')
stdevs_cf.to_csv(out_path)